<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.ggsync</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{ ansible_java_path }}</string>
      <string>-jar</string>
      <string>{{ ansible_user_dir }}/{{ ggsync_dir}}/GGsync.jar</string>
      <string>{{ ansible_user_dir }}/{{ ggsync_dir}}</string>
    </array>
    <key>StartCalendarInterval</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>/dev/null</string>
    <key>StandardErrorPath</key>
    <string>/dev/null</string>
  </dict>
</plist>
